* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

mat-toolbar {
  background-color: rgba(210, 105, 30, 0.793);
  .header-nameUser {
    margin-left: auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    color:  #1565C0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
  }
  h1 {
    color:  #1565C0;
  }

  // Estilos de SubMenu
  .user-panel {
    position: absolute;
    top: 64px;
    right: 16px;
    background-color: #F8F9FA;
    color: black;
    border-radius: 8px;
    padding: 16px;
    width: 280px;
    height: 280px;
    z-index: 100;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    
    p {
      font-size: 0.8rem;
      margin-top: 4px;
    }

    .back-panel-avatar {
      background-color: #1565C0;
      margin: -16px -16px 16px -16px;
      padding: 16px;
      border-radius: 8px 8px 0 0;
    }

    .back-panel-avatar-2 {
      background-color: #d2691eca;
      margin: 0 -16px 0 -16px;
      padding: 16px;
      border-radius: 0 0 8px 8px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      ::ng-deep {
        // Botón editar
        .mat-stroked-button{
          background-color: #1565C0;
          color: white;
        }
        .mat-stroked-button:hover {
          background-color: darken(#1565C0, 15%);
        }
    
        // Botón cerrar sesión 
        .mat-flat-button:hover {
          background-color: darken(#d2691e, 15%);
        }
      }
    }
    
    .panel-avatar {
      margin: auto;
      margin-bottom: 5px;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: white;
      color: #d2691eca;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      cursor: pointer;
    }

    .user-info {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 6px 0;

      .ball {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: radial-gradient(circle at 35% 35%, #ffeb3b, #ff6f00);
        box-shadow: inset -2px -2px 4px rgba(0,0,0,0.3);
        position: relative;
        flex-shrink: 0;
        top: -3px;
      }

      .ball-text {
        position: absolute;
        font-size: 8px;
        color: #ff1744;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .ball-2-text {
        position: absolute;
        font-size: 6px;
        color: #ff1744;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}


