.app-home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  background-image: radial-gradient(#d0d0d0 1px, transparent 1px);
  background-size: 20px 20px;
}